
<md-toolbar class="md-table-toolbar md-default"  flex="100" ng-show="filter.show">
<div class="md-toolbar-tools">
  <form name="filter.form" flex>
    <md-input-container md-no-float class="md-block">
    <md-icon md-svg-icon="../../assets/img/black_search24.svg"></md-icon>
    <input type="text" ng-model="searchText" placeholder="search">
    </md-input-container>
  </form>
  <md-button class="md-icon-button" aria-label="close" ng-click="closeFilter()">
  <md-tooltip md-direction="bottom">
    Close
  </md-tooltip>
  <md-icon md-svg-icon="../../assets/img/black_close24.svg"></md-icon>
  </md-button>
</div>
</md-toolbar>

<md-divider></md-divider>
<md-table-container>
  <table md-table md-row-select ng-model="selected2" md-progress="promise" flex>
    <thead md-head md-order="query.order" md-on-reorder="profiles" class="md-head">
      <tr md-row>
        <th md-column ><span>code</span></th>
        <th md-column ><span>delivered</span></th>
        <th md-column ><span>delivered to</span></th>
        <th md-column ><span>delivered on</span></th>
      </tr>
    </thead>
    <tbody md-body >
      <tr md-row ng-repeat="code in lists" md-select="code" md-select-id="code.coupon_code" md-auto-select ng-cloak>
        <td md-cell><strong ></strong>{{code.coupon_code}}</td>
        <td md-cell><strong ></strong>{{code.status}}</td>
        <td md-cell><strong ></strong>{{code.ipAddress}}</td>
        <td md-cell><strong ></strong>{{code.date}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>
<md-toolbar class="md-table-toolbar md-default" flex="100" ng-show="selected2.length">
<div class="md-toolbar-tools" layout="row" layout-align="end center">
  <md-button class="md-default md-raised" aria-label="unassign" ng-click="removeTask($event, selected2)" ng-show="$root.userLoggedInRole == 'superadmin' || $root.userLoggedInRole == 'admin'">
    DELETE CODE
  </md-button>
  <md-button class="md-default md-raised" aria-label="unassign" ng-click="openProfile2(selected2)">
    VIEW CODE
  </md-button>
</div>
</md-toolbar>
<md-table-pagination ng-hide="filter.show || selected2.length" md-limit-options="[5, 10, 15]" md-limit="perPage" md-page="page" md-total="{{totalLists}}" md-on-paginate="lists" md-page-select></md-table-pagination>

